version: '3.8'

services:
  producent-konsument:
    build: .
    container_name: producent-konsument
    ports:
      - '5000:5000'
    volumes:
      - .:/app
      - /app/__pycache__
    environment:
      - PYTHONUNBUFFERED=1
    restart: unless-stopped
